<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{{ section.title }}{% endblock %}</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Lukkien</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Shipping
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'shipping:customer' %}">New Customer</a>
          <a class="dropdown-item" href="{% url 'shipping:shipping' %}">New Shipping</a>
        </div>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'api:graphql' %}">API</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
{% block content %}
    {% url 'api:graphql' as api_url %}
    <div class="jumbotron">
        <h1 class="display-4">{{ h1 }}</h1>
        <p class="lead">{{ text }}</p>
        <hr class="my-4">
        <p>
            Use <a href="{{ api_url }}">API</a> link to test <a href="{{ api_url }}">GraphQL API</a>(works only when DEBUG is enabled).
            Queries examples are in <a href="https://github.com/voronov007/lukkien_django_app">README</a> file
        </p>
    </div>
{% endblock %}
</div>

{% block additional_scripts %}

{% endblock %}
</body>
</html>